@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h3>Edit this stylist: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  <br>
  @Html.LabelFor(model => model.Info)
  @Html.EditorFor(model => model.Info)
  <br>
  <br>
  <input type="submit" value="Save"/>
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>